<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259619658052-620nct02gb09pm44lm8vh6hs5h7nvlk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259619658052-620nct02gb09pm44lm8vh6hs5h7nvlk7</string>
	<key>API_KEY</key>
	<string>AIzaSyBvv5448x_o89Fnl9Q2y36pyANkyZ0pT94</string>
	<key>GCM_SENDER_ID</key>
	<string>259619658052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPortfolio</string>
	<key>PROJECT_ID</key>
	<string>anslem-io</string>
	<key>STORAGE_BUCKET</key>
	<string>anslem-io.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259619658052:ios:9798cc98197f337411df11</string>
</dict>
</plist>